<mat-card>
    <mat-card-title>Excluir Projeto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Projeto" 
            [value]="project.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" 
            [value]="project.description" name="description" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Professor(a) Responsável" 
            [value]="project.professor" name="professor" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Aluno/a(s)" 
           [value]="project.students" name="students" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Período" 
            [value]="project.period" name="period" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status"
            [value]="project.status" name="status" disabled>
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="deleteProject()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
