<mat-card class="home mat-elevation-z3">
    
    <mat-card-title class="title">Bem Vindo(a)!</mat-card-title>
    
    <mat-card-subtitle class="subtitle">
        <p class="mensagem">Aqui você encontrará uma lista de Projetos de Pesquisa e Extensão da 
           Coordenação de Informática do IFAL - Campus Maceió. O objetivo é enriquecer os/as alunos/as com informações sobre projetos 
            vigentes no curso e seus respectivos orientadores para que dessa maneira desperte o interesse cada vez mais em 
            participações.
        </p>
       
    </mat-card-subtitle>

    <p class="informacoes">

        <i class="material-icons" appRed>contactless</i>
        <a href="https://linktr.ee/cinfoifal" target="_blank">CINFO</a>
        <br>

        <i class="material-icons" appRed>email</i>
        coordenacao.bsi.ifal@gmail.com <br>

        <i class="material-icons" appRed>map</i>
        <a href="https://www.google.com.br/maps/place/Instituto+Federal+de+Alagoas+-+Campus+Macei%C3%B3/@-9.6640396,-35.7325196,17z/data=!3m1!4b1!4m5!3m4!1s0x701457996307ad5:0x1d22c2c44f26f853!8m2!3d-9.6640396!4d-35.7303309" target="_blank">
            Av. do Ferroviário, 530 - Centro, Maceió - AL, 57020-600
        </a>
    </p>
  
</mat-card>